<script src="https://giscus.app/client.js"
        data-repo={{ .Site.Params.repo_name }}
        data-repo-id={{ .Site.Params.repo_id }}
        data-category={{ .Site.Params.category_name }}
        data-category-id={{ .Site.Params.category_id }}
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
